/* Basic styling for the website */
.h1 {
    display: flex;
    justify-content: center;
}

.links {
  display: flex;
  background-color: rgb(204, 204, 204);
  align-content: center;
}

.link {
  display: flex;
  margin-right: 10rem;
  text-decoration: none;
  font: solid black;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.book {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
  
    width: 60rem;
    border: 1px solid black;
    padding: 1rem;
  }

  /* styling for horizontal footer */
.footer {
  display: flex;
  margin-top: auto;
  flex-direction: flex-end;
  position: relative;
  background-color: rgba(70, 70, 70, 0.5);
  height: 4vw;
  justify-content: center;
}

.footerText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Lora", serif;
  font-size: 12px;
  width: 100%;
  color: black;
}